<%- include('partials/head') %>
<%- include('partials/header') %>
<main class="container mt-5 p-5 bg-light border rounded">
  <section class="row">
    <article class="col-12 col-md-6 mx-auto">
      <div class="mx-auto">
        <img src="<%= imagename %> <%= lastname %>" alt="Avatar de <%= firstname %> <%= lastname %>" class="border border-4 border-warning rounded-circle mx-auto my-3" height="auto" width="100%">
        <h2 class="mx-auto my-3 text-center"><%= firstname %> <%= lastname %></h2>
      </div>
    </article>
  </section>
</main>
<%- include('partials/footer') %>